@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.container-nav {
  // margin: 15px 30px 100px 20px;
  padding-left: 20px;
  // padding: 25px 0;
  position: relative;
  height: 100px;

  .nav {
    position: fixed;
  }

  .logo {
    h2 {
      font-family: 'Dancing Script', cursive;
      font-size: 37px;
    }
  }

  .nav {
    z-index: 99999;
    padding-right: 53px;
  }

  .container-notification {
    position: relative;
    cursor: pointer;


  }

}
