@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');


.nav {
  position: fixed;
  background: #ffff;
  padding: 28px 28px 28px 20px;
  top: 0;
  z-index: 999;
}

.logo {
  h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 37px;
  }
}

.container-notification {
  position: relative;
  cursor: pointer;


}
