@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.container-nav {
  margin: 15px 30px 100px 20px;
  padding: 25px 0;

  .container {
    position: fixed;
  }

  .logo {
    h2 {
      font-family: 'Dancing Script', cursive;
      font-size: 37px;
    }
  }

  .container {
    z-index: 99999;
  }

  .container-notification {
    position: relative;
    cursor: pointer;

    mat-icon {
      font-size: 25px;
    }

    .red {
      background-color: red;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      position: absolute;
      bottom: 51%;
      left: 53%;
    }
  }

  .notification-box {
    box-shadow: 2px 3px 15px 5px rgb(0 0 0 / 37%);
    width: 320px;
    border-radius: 5px;
    padding: 10px 10px;
    position: absolute;
    right: 3%;
    z-index: 99999;
    background: white;
    cursor: auto;

    .body {
      height: 300px;
      overflow-y: auto;
    }

    .top {
      border-bottom: 1px solid #e2e2e2;
    }

    .bottom {
      border-top: 1px solid #e2e2e2;

      .link {
        margin: 10px 0 5px 0;
      }
    }

    .container-description {
      p {
        margin-bottom: 5px !important;
      }
    }

    .container-delete {
      mat-icon {
        cursor: pointer;
      }
    }

    .link {
      cursor: pointer;
      text-decoration: none;
    }

    .no-notifications {
      margin-bottom: 20px;

      .msg-no-notifications {
        font-weight: bold;
      }
    }
  }

  .notification {
    .image {
      img {
        width: 45px;
      }
    }
  }

}
