.notification-box {
  box-shadow: 2px 3px 15px 5px rgb(0 0 0 / 37%);
  width: 320px;
  border-radius: 5px;
  padding: 10px 10px;
  position: absolute;
  right: 3%;
  z-index: 99999;
  background: white;
  cursor: auto;

  .body {
    height: 300px;
    overflow-y: auto;
  }

  .top {
    border-bottom: 1px solid #e2e2e2;
  }

  .bottom {
    border-top: 1px solid #e2e2e2;

    .link {
      margin: 10px 0 5px 0;
    }
  }

  .container-description {
    cursor: pointer;
    p {
      margin-bottom: 5px !important;
    }
  }

  .container-delete {
    mat-icon {
      cursor: pointer;
    }
  }

  .link {
    cursor: pointer;
    text-decoration: none;
  }

  .no-notifications {
    margin-bottom: 20px;

    .msg-no-notifications {
      font-weight: bold;
    }
  }
}

.notification {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
  padding-top: 10px;

  .image {
    position: relative;
    .blue {
      background-color: blue;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      position: absolute;
      bottom: -4%;
      left: 71%;
    }
    img {
      width: 45px;
    }
  }
}

mat-icon {
  font-size: 25px;
}

.red {
  background-color: red;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: 51%;
  left: 53%;
}

#style-4::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #bdbdbd;
}
